/* FONTS */
@font-face {
  font-family: 'book';
  src: url("../global/fonts/whril-arial.woff2") format("woff2");
}

@font-face {
  font-family: 'medium';
  src: url("../global/fonts/whril-medium.woff2") format("woff2");
}

@font-face {
  font-family: 'bold';
  src: url("../global/fonts/whril-bold.woff2") format("woff2");
}

@font-face {
  font-family: 'arial';
  src: url("../global/fonts/whril-arial.woff2") format("woff2");
}

.__header {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fadeIn ease 1.5s;
          animation: fadeIn ease 1.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.__header .__center-sub-section {
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.__header .__center-sub-section .category__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.__header .__center-sub-section .category__options .category {
  margin: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25rem 0;
}

.__header .__center-sub-section .category__options .category img {
  margin-bottom: 0.35rem;
  width: 2.25rem;
  height: auto;
}

.__header .__center-sub-section .category__options .category img:hover {
  border-radius: 100rem;
  -webkit-box-shadow: 0 0 7px -2px #c2caf5;
          box-shadow: 0 0 7px -2px #c2caf5;
}

.__header .__center-sub-section .category__options .category h1 {
  font-size: 0.6rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #f2f6f9;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

body {
  overflow-y: scroll;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main {
  background: #f2f6f9;
}

img {
  display: block;
  width: 100%;
  height: auto;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  font-family: 'book';
}

h1 {
  font-size: 1.25rem;
  font-family: medium;
  font-weight: 100;
  color: #2b1951;
  text-decoration: none;
  text-shadow: none;
}

h2 {
  font-size: 0.8rem;
  font-family: medium;
  font-weight: 100;
  color: #2b1951;
  text-decoration: none;
  text-shadow: none;
}

h3,
h4,
h5,
h6 {
  font-family: 'medium';
  color: #7d7d7d;
  text-shadow: none;
}

p {
  font-family: 'book';
  font-size: 1.1rem;
  color: #2b1951;
  text-shadow: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

span {
  font-family: bold;
  font-size: 4rem;
  color: #2b1951;
}

button {
  font-size: 0.8rem;
  font-family: medium;
  font-weight: 100;
}

.__first-adpost-section {
  margin: 1.65rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fadeIn ease 1.5s;
          animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.__first-adpost-section .__outer-sub-section .__center-title {
  margin-bottom: .25rem;
}

.__first-adpost-section .__outer-sub-section .__center-title h2 {
  width: 4.75rem;
  padding: .5rem .8rem;
  border-radius: .3rem;
  background: #ebedf5;
}

.__first-adpost-section .__outer-sub-section .__center-sub-section {
  padding-bottom: .65rem;
  width: 17.25rem;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.__first-adpost-section .__outer-sub-section .__center-sub-section .category__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  cursor: pointer;
}

.__first-adpost-section .__outer-sub-section .__center-sub-section .category__options .category {
  margin: 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .25rem 0;
}

.__first-adpost-section .__outer-sub-section .__center-sub-section .category__options .category img {
  margin-bottom: .35rem;
  width: 2.25rem;
  height: auto;
}

.__first-adpost-section .__outer-sub-section .__center-sub-section .category__options .category img:hover {
  border-radius: 100rem;
  -webkit-box-shadow: 0px 0px 7px -2px #c2caf5;
          box-shadow: 0px 0px 7px -2px #c2caf5;
}

.__first-adpost-section .__outer-sub-section .__center-sub-section .category__options .category h1 {
  font-size: .7rem;
}

.__second-adpost-section {
  margin: 1rem 0 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-animation: fadeIn ease 1.5s;
          animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.__second-adpost-section .__outer-sub-section .__center-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.__second-adpost-section .__outer-sub-section .__center-title h2 {
  background: #ebedf5;
  padding: .5rem .8rem;
  border-radius: .3rem;
}

.__second-adpost-section .__outer-sub-section .__center-title p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.__second-adpost-section .__outer-sub-section .__center-title p, .__second-adpost-section .__outer-sub-section .__center-title output {
  font-size: .9rem;
  color: #2b1951;
}

.__second-adpost-section .__outer-sub-section .__center-sub-section {
  padding: 1rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no;
      flex-wrap: no;
  -ms-flex-item-align: center;
      align-self: center;
  /* The slider itself */
}

.__second-adpost-section .__outer-sub-section .__center-sub-section .__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: .8;
  position: relative;
  z-index: 999;
}

.__second-adpost-section .__outer-sub-section .__center-sub-section .__slider input[type='range'] {
  overflow: hidden;
  width: 17rem;
  border-radius: 100rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ebedf5;
  outline: none;
  border: none;
}

.__second-adpost-section .__outer-sub-section .__center-sub-section .__slider input[type='range']::-webkit-slider-runnable-track {
  height: 1.15rem;
  border-radius: 100rem;
  -webkit-appearance: none;
          appearance: none;
  color: #dfe2f3;
  outline: none;
  border: none;
}

.__second-adpost-section .__outer-sub-section .__center-sub-section .__slider input[type='range']::-webkit-slider-thumb {
  width: 1.3rem;
  height: 1.15rem;
  border-radius: 100rem;
  -webkit-appearance: none;
          appearance: none;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background: #c2caf5;
  -webkit-box-shadow: -101rem 0 0 100rem #dfe2f3;
          box-shadow: -101rem 0 0 100rem #dfe2f3;
  outline: none;
  border: none;
}

.__third-adpost-section {
  margin: 1.5rem 0 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-animation: fadeIn ease 1.5s;
          animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.__third-adpost-section .__outer-sub-section .__center-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.__third-adpost-section .__outer-sub-section .__center-title h2 {
  background: #ebedf5;
  padding: .5rem .8rem;
  border-radius: .3rem;
}

.__third-adpost-section .__outer-sub-section .__center-title p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.__third-adpost-section .__outer-sub-section .__center-title p, .__third-adpost-section .__outer-sub-section .__center-title output {
  font-size: .9rem;
  color: #2b1951;
}

.__third-adpost-section .__outer-sub-section .__center-sub-section {
  padding: 1rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no;
      flex-wrap: no;
  -ms-flex-item-align: center;
      align-self: center;
  /* The slider itself */
}

.__third-adpost-section .__outer-sub-section .__center-sub-section .__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: .8;
  position: relative;
  z-index: 999;
}

.__third-adpost-section .__outer-sub-section .__center-sub-section .__slider input[type='range'] {
  overflow: hidden;
  width: 17rem;
  border-radius: 100rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ebedf5;
  outline: none;
  border: none;
}

.__third-adpost-section .__outer-sub-section .__center-sub-section .__slider input[type='range']::-webkit-slider-runnable-track {
  height: 1.15rem;
  border-radius: 100rem;
  -webkit-appearance: none;
          appearance: none;
  color: #dfe2f3;
  outline: none;
  border: none;
}

.__third-adpost-section .__outer-sub-section .__center-sub-section .__slider input[type='range']::-webkit-slider-thumb {
  width: 1.3rem;
  height: 1.15rem;
  border-radius: 100rem;
  -webkit-appearance: none;
          appearance: none;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background: #c2caf5;
  -webkit-box-shadow: -101rem 0 0 100rem #dfe2f3;
          box-shadow: -101rem 0 0 100rem #dfe2f3;
  outline: none;
  border: none;
}

.__fourth-adpost-section {
  margin: 0 0 1.75rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-animation: fadeIn ease 1.5s;
          animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.__fourth-adpost-section .__outer-sub-section .__center-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.__fourth-adpost-section .__outer-sub-section .__center-title h2 {
  background: #ebedf5;
  padding: .5rem .8rem;
  border-radius: .3rem;
}

.__fourth-adpost-section .__outer-sub-section .__center-title p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.__fourth-adpost-section .__outer-sub-section .__center-title p, .__fourth-adpost-section .__outer-sub-section .__center-title output {
  font-size: .9rem;
  color: #2b1951;
}

.__fourth-adpost-section .__outer-sub-section .__center-sub-section {
  padding: 1rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no;
      flex-wrap: no;
  -ms-flex-item-align: center;
      align-self: center;
  /* The slider itself */
}

.__fourth-adpost-section .__outer-sub-section .__center-sub-section .__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: .8;
  position: relative;
  z-index: 999;
}

.__fourth-adpost-section .__outer-sub-section .__center-sub-section .__slider input[type='range'] {
  overflow: hidden;
  width: 17rem;
  border-radius: 100rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ebedf5;
  outline: none;
  border: none;
}

.__fourth-adpost-section .__outer-sub-section .__center-sub-section .__slider input[type='range']::-webkit-slider-runnable-track {
  height: 1.15rem;
  border-radius: 100rem;
  -webkit-appearance: none;
          appearance: none;
  color: #dfe2f3;
  outline: none;
  border: none;
}

.__fourth-adpost-section .__outer-sub-section .__center-sub-section .__slider input[type='range']::-webkit-slider-thumb {
  width: 1.3rem;
  height: 1.15rem;
  border-radius: 100rem;
  -webkit-appearance: none;
          appearance: none;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background: #c2caf5;
  -webkit-box-shadow: -101rem 0 0 100rem #dfe2f3;
          box-shadow: -101rem 0 0 100rem #dfe2f3;
  outline: none;
  border: none;
}

.__fifth-adpost-section {
  margin: 0rem 0 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-animation: fadeIn ease 1.5s;
          animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.__fifth-adpost-section .__outer-sub-section .__center-title h2 {
  width: 5.6rem;
  background: #ebedf5;
  padding: .5rem .8rem;
  border-radius: .3rem;
}

.__fifth-adpost-section .__outer-sub-section .__center-sub-section {
  padding: .75rem 0 .5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no;
      flex-wrap: no;
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 32.75rem;
}

.__fifth-adpost-section .__outer-sub-section .__center-sub-section input {
  padding-left: .25rem;
  border: none;
  outline: none;
  font-size: .85rem;
  font-family: medium;
  font-weight: 100;
  width: 17rem;
  resize: none;
}

.__fifth-adpost-section .__outer-sub-section .__center-sub-section input:focus {
  border-radius: .75rem;
  -webkit-box-shadow: 0px 0px 10px 0px #dfe2f3;
          box-shadow: 0px 0px 10px 0px #dfe2f3;
}

.__sixth-adpost-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-animation: fadeIn ease 1.5s;
          animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.__sixth-adpost-section .__outer-sub-section .__center-title h2 {
  background: #ebedf5;
  padding: .5rem .8rem;
  border-radius: .3rem;
  width: 3.2rem;
}

.__sixth-adpost-section .__outer-sub-section .__center-sub-section {
  padding: .8rem 0 .5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no;
      flex-wrap: no;
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 32.75rem;
}

.__sixth-adpost-section .__outer-sub-section .__center-sub-section textarea {
  padding: 1rem 1.1rem;
  min-width: 16.375rem;
  height: 5.5rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  font-size: .8rem;
  font-family: book;
  resize: none;
}

.__sixth-adpost-section .__outer-sub-section .__center-sub-section textarea:focus {
  border-radius: .75rem;
  -webkit-box-shadow: 0px 0px 10px 0px #dfe2f3;
          box-shadow: 0px 0px 10px 0px #dfe2f3;
}

.__seventh-adpost-section {
  margin: 0 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-animation: fadeIn ease 1.5s;
          animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.__seventh-adpost-section .__center-sub-section {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no;
      flex-wrap: no;
  -ms-flex-item-align: center;
      align-self: center;
}

.__seventh-adpost-section .__center-sub-section button {
  background: #ebedf5;
  padding: .9rem 1.25rem;
  border-radius: .3rem;
  font-family: medium;
  font-weight: 100;
  outline: none;
  border: none;
}

@media only screen and (min-width: 45rem) {
  .__first-adpost-section .__outer-sub-section .__center-sub-section {
    width: 32.5rem;
  }
  .__second-adpost-section .__outer-sub-section .__center-sub-section .__slider input[type='range'] {
    width: 32.5rem;
  }
  .__third-adpost-section .__outer-sub-section .__center-sub-section .__slider input[type='range'] {
    width: 32.5rem;
  }
  .__fourth-adpost-section .__outer-sub-section .__center-sub-section .__slider input[type='range'] {
    width: 32.5rem;
  }
  .__fifth-adpost-section .__outer-sub-section .__center-sub-section input {
    width: 32.5rem;
  }
  .__sixth-adpost-section .__outer-sub-section .__center-sub-section textarea {
    width: 32.5rem;
  }
}

@media only screen and (min-width: 32.5rem) and (max-width: 45rem) {
  .__first-adpost-section .__outer-sub-section .__center-sub-section {
    width: 24rem;
  }
  .__second-adpost-section .__outer-sub-section .__center-sub-section .__slider input[type='range'] {
    width: 24rem;
  }
  .__third-adpost-section .__outer-sub-section .__center-sub-section .__slider input[type='range'] {
    width: 24rem;
  }
  .__fourth-adpost-section .__outer-sub-section .__center-sub-section .__slider input[type='range'] {
    width: 24rem;
  }
  .__fifth-adpost-section .__outer-sub-section .__center-sub-section input {
    width: 24rem;
  }
  .__sixth-adpost-section .__outer-sub-section .__center-sub-section textarea {
    width: 24rem;
  }
}

.first--section-bubble {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fadeIn ease 1.5s;
          animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}

.first--section-bubble .team-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first--section-bubble .team-cards h1 {
  font-family: bold;
}

.first--section-bubble .team-cards .box {
  display: -ms-grid;
  display: grid;
  width: 18rem;
  height: 8.5rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 2.075rem;
  margin: .5rem 0;
}

.first--section-bubble .team-cards .box button {
  margin-top: 0.5rem;
  background: transparent;
  outline: none;
  border: none;
  padding: 1.9rem 2.1rem;
  color: #292929;
  cursor: pointer;
  position: relative;
  z-index: 0;
  font-family: bold;
  font-size: 0.925rem;
  border-radius: 1rem;
  font-size: 1rem;
  color: #2b1951;
  font-family: bold;
}

.first--section-bubble .team-cards .box button .glow-on-hover::before {
  content: '';
  background: linear-gradient(45deg, #f00, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #f00);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(0.5rem);
          filter: blur(0.5rem);
  width: calc(100% + 0.2rem);
  height: calc(100% + 0.2rem);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  border-radius: 1rem;
  outline: none;
}

.first--section-bubble .team-cards .box button .glow-on-hover:hover::before {
  opacity: 1;
}

.first--section-bubble .team-cards .box button .glow-on-hover::after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f2f6f9;
  left: 0;
  top: 0;
  border-radius: 1rem;
  border: none;
  outline: none;
}

@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.first--section-bubble .team-cards .box button:hover {
  -webkit-transition: ease-in-out 0.35s;
  transition: ease-in-out 0.35s;
  -webkit-transform: rotate(1.5deg) scale(1.125);
          transform: rotate(1.5deg) scale(1.125);
}

.first-bday-section-bubble {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fadeIn ease 1.5s;
          animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}

.first-bday-section-bubble .team-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-bday-section-bubble .team-cards img {
  margin-bottom: 1rem;
  width: 16rem;
  border-radius: 1rem;
}

.first-bday-section-bubble .team-cards h1 {
  font-family: bold;
}

.first-bday-section-bubble .team-cards .box {
  margin: .5rem 0;
  width: 30rem;
}

.first-bday-section-bubble .team-cards .box p {
  padding-bottom: 1.5rem;
}
/*# sourceMappingURL=style.css.map */